@font-face{
	font-family: TT Lakes;
	font-weight: 500;
	src:url('fonts/TTLakes/TTLakes-Medium.woff');
}

@font-face{
	font-family: TT Lakes;
	font-weight: 700;
	src:url('fonts/TTLakes/TTLakes-Bold.woff');
}


@font-face{
	font-family: TT Lakes;
	font-weight: 400;
	src:url('fonts/TTLakes/TTLakes-Regular.woff');
}
html{
    background-color: #F8F8F8;
}


.main{
  padding-bottom: auto;
}

body, p, ul, li, button {
	background-color: #F8F8F8;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: TT Lakes;
	font-weight: 500;
	border: none;
}
body{
  background-color: #FFFFFF;

}

.header{
    margin: 0;
    padding-right: 16px;
    padding-bottom: auto;
    padding-left: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;

    height: 88px;
    box-shadow: 0 2px 0 #D9FFF5;    
}
.header-replacement-right-panel{
  display: none;

}
 
.header__left-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.header__right-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.header__center-panel--active{
    display:none;
}
/*Розовая кнопка*/
.round-button{

    width: 40px;
    height: 40px;
    border-radius: 50%;


    background-repeat: no-repeat;
    background-position: center;
}
.round-button--ping{
  background-color: #FF3E79;
  border: none;
}
.round-button--burger{
  background-image: url(img/icons/header/burger.svg);
}
.round-button--call{
  background-image: url(img/icons/header/call.svg);
}
.round-button--chat{
  background-image: url(img/icons/header/chat.svg);
}
.round-button--profile {
	background-image: url(img/icons/header/profile.svg);
}
.round-button--repair {
	background-image: url(img/icons/header/repair.svg);
}
.round-button--checkstatus {
	background-image: url(img/icons/header/checkstatus.svg);
}

.header__separator{
    width:2px;
    height: 32px;
    background-color: #EAEAEA;

}
.header__separator--before{
  display:none;
}
.header__separator--after{
  display:flex;
}

/*main*/
.main{
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: #F8F8F8;
}
.main__title{
  width: 304px;
    height: 40px;
    margin-bottom: 24px;

}

.main__title::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 50;
    width: 8px;
    height: 40px;
    background: #2FF5E0;
    border-radius: 0 4px 4px 0;
  }
.main__title h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}
.navigation__list{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;  
    gap:19px;
    padding: 0;
    margin-bottom: 24px;
    min-height: 50px;
    align-items: center;

    scrollbar-width: none; 

}

.navigation__item {
    flex-shrink: 0;  
    padding: 10px 10px;   
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #7E7E82;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .navigation__item:hover{
    background: #FFFFFF; 
    border: 2px solid #B8FFEC;  
  }
  .navigation__item--active{
    background: #FFFFFF; 
    border: 2px solid #B8FFEC;
  }

  .navigation__list::-webkit-scrollbar {
    display: none;
  }

  .main__description p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #1B1C21;
    margin-bottom: 16px;
  }
  .main__text-scroll{
    height: 90px;
    overflow-y: auto;
    margin-bottom: 16px;
  }

  .read-more__button{

    border: 0px;
    background-color: #F8F8F8;
    min-width: 130px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 16px;
  }
.read-more__icon{
    background-image: url(img/icons/main/text-open.svg);
    background-repeat: no-repeat;
    background-position: center;
	width: 24px;
	height: 24px;
}
.read-more__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.content-block{

  display: block;
  
  }

  .main__image img{

    width: 100%;

  }
.content-block__image{
  margin-left: -16px;
}











  
@media (min-width: 768px) {
body{
    margin-right: 15px;
  }
.header{
  padding-right: 24px;
    padding-bottom: auto;
    padding-left: 24px;


}

.main__title{
  width: 257px;
}

.header__center-panel--active{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
}


.content-block{
  display: flex;
  justify-content: space-between;


  margin-top: 32px;
  margin-right: 0px;
  margin-left: 0px; 
}
.content-block__text{
  width: 50%;
}
.content-block__text{

  padding-left: 24px;
  padding-right: 48px;
}


.header__separator--before{
  display:flex;
}
.header__separator--after{
  display:none;
}

.main{
  padding-top: 24px;
  padding-left: 24px;
}
.content-block__image{
  padding-right: 25px;
}


.main__image img{
width: 100%;
border-radius: 2%;


}

}





@media (min-width: 1120px) {
body{
  margin: 0;
}
  .header{
  display: none;
}


.main__title{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.main__title h1{
  margin-left: 32px;
  margin-top: 42px;
  margin-bottom: 8px;
}
.header-replacement-right-panel span{
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-left: 32px;
  
  
}
.header-replacement-right-panel{
  display: flex;
  margin-left: 32px;
  margin-top: 42px;
  margin-bottom: 8px;
  margin-right: 32px;
}
.main__description{
  height: auto;
}

.main__image img{
width: 30rem;
border-radius: 2%;

}


}
